/* General */
.border-box,
.border-box * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
	bottom: 120px;
}

.expanded .wp-full-overlay-footer {
	height: 120px;
}

/* Panel */
.customizer-reset-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	height: 75px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

/* Button */
.customizer-reset-footer .customizer-reset-button {
	width: 76%;
	padding: 10px;
}

#customize-controls .customizer-reset-footer .customizer-reset-button img {
	max-width: 14px;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -3px;
}

/* Icons */
.customizer-reset-footer .customizer-export-import {
	width: 12%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	padding: 20px 0;
	box-shadow: none;
}

#customize-controls .customizer-reset-footer .customizer-export-import img {
	max-width: 14px;
	opacity: 0.4;
}

#customize-controls .customizer-reset-footer .customizer-export-import:hover img {
	opacity: 0.8;
}

.customizer-reset-footer .customizer-export-import-hint {
	position: absolute;
	opacity: 0;
	top: -5px;
	font-size: 12px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	padding: 6px 8px;
	line-height: 1;
	color: #fff;
	transition: all 0.2s linear;
}

.customizer-reset-footer .customizer-export-import:hover .customizer-export-import-hint {
	opacity: 1;
	top: -10px;
}

/* Import */
.customizer-import-form {
	padding: 10px;
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	max-height: 0;
	background-color: #fff;
	transition: all 0.5s;
	overflow: hidden;
}

.customizer-import-form.is-expanded {
	padding: 10px;
	max-height: 500px;
	transition: all 1s;
}

.customizer-import-form .close {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	width: 17px;
	height: 17px;
	line-height: 17px;
	font-size: 18px;
	text-align: center;
	color: #444;
	cursor: pointer;
}

.customizer-import-form .close:hover {
	color: #0073aa;
}

.customizer-import-form .fields {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.customizer-import-form .left-field {
	width: 70%;
	overflow: hidden;
}

.customizer-import-form .right-field {
	width: 30%;
	text-align: right;
	align-self: flex-end;
}

.customizer-import-form .label {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

.customizer-import-file {
	font-size: 11px;
}
